<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <%= f.hidden_field :username, :value => Faker::Internet.user_name  %>
  <%= f.hidden_field :name, :value => Faker::Name.name  %>
  <%= f.hidden_field :city, :value => Faker::Address.city %>
  <%= f.hidden_field :state, :value => Faker::Address.state  %>
  <%= f.hidden_field :country, :value => Faker::Address.country  %>
  <%= f.hidden_field :birthday, :value => Faker::Date.between(150.years.ago, Date.today)  %>
  <% number = rand(2) %>
  <% if number == 0 %>
    <% gender = 'male' %>
  <% else %>
    <% gender = 'female' %>
  <% end %>
  <%= f.hidden_field :gender, :value => gender  %>
  <%= f.hidden_field :image_location, :value => Faker::Avatar.image  %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
