<div class="row">
  <div class="small-3 columns text-left">
    <img src="<%= current_user.image_location %>" />
  </div>
  <div class="small-3 columns">
    <%= current_user.name %><br>
    <i>"<%= current_user.username %>"</i><br>
    <%= current_user.city %>, <%= current_user.state %>, <%= current_user.country %><br>
    Born on <%= current_user.birthday.strftime('%b %d, %Y') %><br>
    <%= Time.now.year.to_i - current_user.birthday.strftime('%Y').to_i%> years old<br>
    <%= current_user.gender %><br>
    <%= current_user.friends.count %> <br>
    <%= link_to 'See all friends', '/' + current_user.username + '/friends' %>
  </div>
  <div class="small-6 columns">
    <p class='post-something' data-post="something" data-user="<%= current_user.id %>" data-username="<%= current_user.username %>">Post something</p>
    <p class='post-something-smart' data-post="something-smart" data-user="<%= current_user.id %>" data-username="<%= current_user.username %>">Post Something Smart</p>
    <p class='post-something-short' data-post="something-short" data-user="<%= current_user.id %>" data-username="<%= current_user.username %>">Post Something Short</p>
    <p class='post-something-long' data-post="something-long" data-user="<%= current_user.id %>" data-username="<%= current_user.username %>">Post Something Long</p>
    <p class='post-something-latin' data-post="something-latin" data-user="<%= current_user.id %>" data-username="<%= current_user.username %>">Post Something in Latin</p>
    <p>Post Image</p>
  </div>
</div>
<hr />
<div class="row">

  <table id="status-table">
    <% @statuses.each do |status| %>
    <tr>
      <td> <%= status.user.username%> says: <br> <%= status.status_update %></td>
    </tr>
    <% end %>
  </table>

</div>
