<div class="row">
  <table id="status-table">
 <div class="small-3 columns">
   <img src="<%= @user.image_location %>" />
   <%= link_to 'Add Friend', add_friend_path(@user.username) %>
 </div>
 <div class="small-9 columns">
   <%= @user.name %><br>
   <i>"<%= @user.username %>"</i><br>
   <%= @user.city %>, <%= @user.state %>, <%= @user.country %><br>
   Born on <%= @user.birthday.strftime('%b %d, %Y') %><br>
   <%= Time.now.year.to_i - @user.birthday.strftime('%Y').to_i%> years old<br>
   <%= @user.gender %><br>
 </div>
</div>
<hr />
<div class="row">
  <table>
    <% @statuses.each do |status| %>
    <% @votes = status.get_upvotes.size + status.get_downvotes.size %>
    <tr>
      <td><i class='upvote fa fa-arrow-up' data-status="<%= status.id %>" data-voter="<%= current_user.username %>"></i><div id="score<%= status.id %>"> &nbsp;<%= @votes %></div><i class='downvote fa fa-arrow-down' data-status="<%= status.id %>"></i></td>
      <td> <%= status.user.username%> says: <br> <%= status.status_update %></td>
    </tr>
    <% end %>
  </table>
</div>
