<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <% if current_user %>
        <h1><a href="/index">Fakebook </a></h1>
      <% else %>
        <h1><a href="/">Fakebook </a></h1>
      <% end %>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <% if current_user %>
        <li><%= link_to 'My Profile', user_path(current_user.username) %></li>
        <li class="divider"></li>
        <li>  <%= link_to 'See all friends', '/' + current_user.username + '/friends' %></li>
        <li class="divider"></li>
        <li><%= link_to 'Find Friends', find_friends_path %></a>
      <% end %>

        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><label>Dropdown Level 2 Label</label></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><label>Dropdown Level 3 Label</label></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <% if current_user %>
        <li class='friend-requests'><%= link_to current_user.pending_invited_by.count, '/' + current_user.username + '/friend_requests' %></li>
      <% end %>

      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <span class='side-of-nav'>
        <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'small button secondary radius' %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'small button secondary radius' %>
          <%= link_to 'Sign in', new_user_session_path, class: 'small button secondary radius'%>
        <% end %>
      </span>
    </ul>
  </section>
</nav>
